<div class="row">
    <div class="col-md-12">
        <h4>Resultados</h4>
        <div class="divisor"></div>
    </div>
</div>
<div class="row">

    <div class="col-md-12 ">

        <div class="container-mensagens">

        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <form class="container-form">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Digite a mensagem aqui..." id="input-texto-mensagem" />
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="botao-enviar-mensagem">Enviar</button>
                </div>
            </div>

        </form>

    </div>
</div>


<div style="display:none;" class="modelo-mensagem mensagem">
    <span class="seta"></span>
    <span class="texto"></span>
</div>