@import 'mixins.scss';
@import 'variables.scss';

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: linear-gradient(180deg, #c3c5e0, #868686);
    /*background-color:#9daba0;*/
    /*background-image: url(../img/background-site.jpg);*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 164px;
}

.icone {
    margin-right: 5px;
}

.icone-form {
    margin-right: 10px;
}

.container-app {
    min-height: 650px;
    margin-top: 15px;
    padding: 15px;
    background-color: #fff;

    @include border-radius(4px);
    @include box-shadow(4px, 5px,rgba(51, 48, 48, 0.6705882352941176), 3px);
}

.container-botoes {
    margin-top: 15px;

    button {
        margin-right: 5px;
    }
}

.divisor {
    width: 100%;
    border-bottom: 1px solid $cor-vermelho;
    margin-bottom: 10px;
}

.container-opcao-selecionada {
    margin-top: 20px;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-top: 20px;
}

#botao-escolher-endereco, #botao-confirmar-nova-data-entrega,
#botao-escolher-armario {
    margin-left: 10px;
}

.ui-pnotify-container {
    @include display-flex();
    align-items: center;
}

.ui-pnotify-closer {
    order: 5;
    margin-left: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 144px;
    line-height: 60px;
    background-color: #F8F9FA;
    border-top: 2px solid $cor-vermelho;
}

.lista-links {
    padding-left: 0;
    margin-left: 0 !important;
    line-height: initial;
    list-style-type: none;

    li {
        display: block;
    }

    a {
        color: rgba(0, 0, 0, 0.5);
    }
}

.container-logo-inova {
    width: 100px;


    img {
        display: block;
    }
}

#resultado-selecao-novo-endereco {
    margin-top: 50px;
}

nav {

    .nav-item.active {

        .nav-link {
            color: $cor-vermelho !important;
        }
    }

    .nav-link {

        @include transition(all, 0.2s, ease-in-out);
    }

    .nav-link:hover {
        color: #dcb4a8 !important;

        @include transition(all, 0.2s, ease-in-out);
    }
}

.container-usuario {
    cursor: pointer;
    margin-left: auto;
    color: rgba(0, 0, 0, 0.5);

    @include transition(all, 0.2s, ease-in-out);

    &:hover {
        color: #dcb4a8 !important;

        @include transition(all, 0.2s, ease-in-out);
    }
}

.info-detalhe {
    margin-right: 10px;
}

.container-mensagens {
    
    height:500px;
    max-height:500px;
    overflow:auto;
    border:1px solid $cor-vermelho;
    margin:15px;
    
    @include border-radius(4px);
    @include display-flex();
    @include flex-direction(column);
    
    @include justify-content(flex-end);
    align-items: flex-end;
    

    .usuario{
        margin-left:auto !important;
    }

    .mensagem {
        border:1px solid $cor-azul;
        background-color: $cor-azul;
        @include border-radius(4px);
        color: white;
        padding:10px;
        margin:10px;
        width:30%;
        flex-shrink:0;
    }

}

.container-form{
    margin-left:15px;
}