@import 'mixins.scss';
@import 'variables.scss';

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: linear-gradient(180deg, #c3c5e0, #ececec);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.icone {
    margin-right: 5px;
}

.icone-form{
    margin-right:10px;
}

.container-app {
    min-height:650px;
    margin-top: 15px;
    padding: 15px;
    background-color: #fff;
    @include box-shadow(4px, 5px, #6d6d6d, 3px);
}

.container-botoes {
    margin-top: 15px;

    button {
        margin-right:5px;
    }
}

.divisor {
    width: 100%;
    border-bottom: 1px solid $cor-azul;
    margin-bottom: 10px;
}

.container-opcao-selecionada {

    margin-top:20px;

}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-top:20px;
}

#botao-escolher-endereco {
    margin-left:10px;
}

.ui-pnotify-container{
    @include display-flex();
    align-items:center;
}

.ui-pnotify-closer {
    order:5;
    margin-left:auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343A40;

    border-top:5px solid $cor-bege;
}

.container-logo-inova {

    width:100px;


    img {
        display:block;
    }

}

#resultado-selecao-novo-endereco {

    margin-top:50px;

}

nav {

    .nav-item.active {

        .nav-link {
            color: $cor-bege !important;
        }
    }

    .nav-link {

        @include transition(all, 0.2s, ease-in-out);
    }

    .nav-link:hover {
        color: #e4e1cd !important;

        @include transition(all, 0.2s, ease-in-out);
    }
}

.container-usuario {
    
    cursor:pointer;
    margin-left: auto;
    color: rgba(255, 255, 255, 0.5);

    @include transition(all, 0.2s, ease-in-out);

    &:hover {
        color: #e4e1cd !important;

        @include transition(all, 0.2s, ease-in-out);
    }
}

.info-detalhe {

    margin-right:10px;

}