<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/css/bundle")
    @Scripts.Render("~/bundles/LayoutJs")

    <title>2MVL</title>
    <script>
        var urlBase = "@(Url.Content("~/"))";
    </script>

</head>
<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><span class="fa fa-truck icone"></span>2MVL</a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Início<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Meus pacotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ajuda</a>
                    </li>
                </ul>
            </div>

            <div class="container-usuario">
                <span class="fa fa-user icone"></span>
                <span>Fulano da silva</span>
            </div>

        </nav>
        
    </header>

    <main class="container container-app">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <div class="col align-items-center d-flex" style="margin-top:10px;">
                <div class="container-logo-inova">
                    <img src="~/Content/img/Logo_Inova_Prudente.png" class="img-fluid" />
                </div>
                
            </div>
        </div>
    </footer>

</body>
</html>