@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col">
        
        <h2>Entrega</h2>
        <div class="divisor"></div>

        <div>
            <div class="d-flex align-items-center" title="Data">
                <span class="fa fa-calendar-check-o icone"></span>
                <span>20/10/2018</span>
            </div>

            <div class="d-flex align-items-center" title="Endereço">
                <span class="fa fa-home icone"></span>
                <span>Avenida fim do mundo, 00</span>
            </div>

            <div class="d-flex align-items-center" title="Destinatário">
                <span class="fa fa-user icone"></span>
                <span>Leonardo</span>
            </div>

        </div>

        <div class="container-botoes">
            @*<button type="button" class="btn btn-success"><span class="fa fa-check icone"></span></button>*@
            <button type="button" class="btn btn-primary"><span class="fa fa-calendar icone"></span>Entregue outro dia</button>
            <button type="button" class="btn btn-primary" id="botao-alterar-endereco"><span class="fa fa-home icone"></span>Entregue em outro lugar</button>
            <button type="button" class="btn btn-primary"><span class="fa fa-lock icone"></span>Entregue NuArmario</button>
        </div>

        <div class="container-opcao-selecionada">

        </div>

    </div>
</div>


