<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="HOST" value="10.10.5.131"/>
    <add key="PORT" value="5672"/>
    <add key="QUEUE" value="source.vcom.dev2"/>
    <add key="USER" value="victor"/>
    <add key="PASSWORD" value="d3v@2018"/>




  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>